
//Globales
h1, h2, h3, h4{
    text-align: center !important;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 2.5vw;
}
h4{
    font-size: 2vw;
}
//navbar

//header
.header{
        display: flex;
        align-items: center;
        justify-content: center;
    img{
        text-align: center;
        max-width: 100%;
        max-height: 50%
    }
}

//login y pagina de bienvenida
.login{
    background: url("/images/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;   
}
.bienvenida{
    border: 1px black solid;
    margin: 10vw;
    background-color: white;
    max-width: 100%;
}
.bienvenida p{
    text-align: center;
    font-size: 2.5vw;
}

//Formularios
.centrar-button{
        float:none;
	    text-align:center;
    }
.mensaje{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    p{
        border-radius: 5%;
        padding: .5%;
    }
}