h1,
h2,
h3,
h4 {
  text-align: center !important;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.5vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  text-align: center;
  max-width: 100%;
  max-height: 50%;
}

.centrar-button {
  float: none;
  text-align: center;
}

.mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.mensaje p {
  border-radius: 5%;
  padding: 0.5%;
}

